@import "../../styles/colors";
@import "../../styles/variables";

.container {
  background: linear-gradient(
    to left bottom,
    $darkgray-gradient,
    $lightgray-gradient
  );

  padding-top: 4rem;
  padding-bottom: 6rem;

  @extend %side-padding;
}

.title {
  color: $primary;
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  @media screen and (max-width: 800px) {
    font-size: 60px;
  }
}

.subtitle {
  margin-top: 5px;

  color: $offwhite;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.call-to-action {
  margin-top: 60px;

  color: $offwhite;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
