@import '../../styles/colors';
@import '../../styles/variables';

.button {
  margin: 10px;

  height: 60px;
  width: 170px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1000px) {
    width: 160px;
  }
  @media screen and (max-width: 800px) {
    width: 150px;
  }
  @media screen and (max-width: 600px) {
    width: 140px;
  }

  @extend %link;
}
