@import '../../styles/variables';
@import '../../styles/colors';
@import '../../styles/utils/mixins';

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ipa {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray-6;
  border: 1px solid $gray-5;
  border-radius: 4px;

  margin-bottom: 2rem;
}

.label {
  text-transform: capitalize;

  font-weight: 700;
  font-size: 1rem;
  color: $gray-4;
}

.option {
  display: block;
  border: none;
  background: none;

  text-align: start;

  font-size: 1.1rem;
  font-weight: 700;
  margin-left: -4px;
  margin-bottom: 2rem;

  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
