$darkgray: #262626;
$darkgray-gradient: #3b3b3b;
$lessdarkgray: #404040;
$gray: #AFAFAF;
$lightgray-gradient: #454545;
$lightgray: #808080;
// $primary: #2ec794;
// $muted-primary: #27ab7f;
$primary: #94DADB;
$muted-primary: #81BEBF;
$caution: #dec400;
$white: #ffffff;
$offwhite: #F1F1F1;
$reddit: #ff4400;
$github: #3d576a;
$kofi: #ff5f5f;
$stripe: #3ea4ff;
