$navbar-height: 60px;

%transition {
  transition: all 0.3s ease-in-out;
}

%footer-height {
  height: 100px;

  @media screen and (max-width: 800px) {
    height: 150px;
  }
}

%side-padding {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 1000px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (max-width: 1000px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (max-width: 800px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  transition: padding-left, padding-right 0.3s ease-in-out;
}

%half-side-padding {
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: 1000px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (max-width: 1000px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (max-width: 800px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 600px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  transition: padding-left, padding-right 0.3s ease-in-out;
}

%bottom-padding {
  padding-bottom: 20px;

  @media screen and (min-width: 1000px) {
    padding-bottom: 80px;
  }
  @media screen and (max-width: 1000px) {
    padding-bottom: 60px;
  }
  @media screen and (max-width: 800px) {
    padding-bottom: 40px;
  }
  @media screen and (max-width: 600px) {
    padding-bottom: 20px;
  }
}

%flex-direction {
  flex-direction: row;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

%link {
  text-decoration: none;
}
