@use "./variables";

@import "./colors";
@import "react-dropdown/style.css" layer(components);

@layer base {
  @import "./base/reset";
  @import "./base/typography";

  * {
    font-family:
      var(--font-open-sans), "Apple SD Gothic Neo", "Trebuchet MS", sans-serif;
  }

  body {
    background: $gray;
    @media screen and (max-width: 800px) {
      position: relative;
    }
  }
}

@layer components {
  @import "./components/buttons";

  .header-margin {
    margin-top: variables.$navbar-height;
  }

  .Dropdown-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .Dropdown-title {
    grid-column: 1/10;
  }
  .Dropdown-option {
    font-family: var(--font-roboto-slab);
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Dropdown-placeholder {
    display: none;
  }
}

@layer utilities {
  .dark-gray {
    background: $darkgray;
  }
}
