@import './colors';
@import './variables';
@import './base/reset';

// Component SCSS
@import './components/buttons';

* {
  font-family: 'Open Sans', 'Apple SD Gothic Neo', 'Trebuchet MS', sans-serif;
}

body {
  background: $gray;
  @media screen and (max-width: 800px) {
    position: relative;
  }
}

.fade-in {
  animation: fadein-keyframe 0.25s;
}

@keyframes fadein-keyframe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
