@use './variables';

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors';
@import './base/reset';
@import './base/typography';

// Component SCSS
@import 'react-dropdown/style.css';
@import './components/buttons';
@import './components/blockquote';

* {
  font-family: 'Open Sans', 'Apple SD Gothic Neo', 'Trebuchet MS', sans-serif;
}

body {
  background: $gray;
  @media screen and (max-width: 800px) {
    position: relative;
  }
}

.header-margin {
  margin-top: variables.$navbar-height;
}

.Dropdown-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Dropdown-title {
  grid-column: 1/10;
}
.Dropdown-option {
  font-family: 'Roboto Slab';
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Dropdown-placeholder {
  display: none;
}

.font-serif {
  font-family: 'Roboto Slab';
}

.dark-gray {
  background: $darkgray;
}
