@use '../../styles/colors';
@use '../../styles/variables';

.container {
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  background: colors.$gray-6;
  min-height: 100vh;
}

.container--no-sidebar {
  grid-template-columns: 1fr;
}
.container--no-sidebar main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.sidebar {
  background: colors.$white;
  z-index: 1;
  min-height: 100%;
}
.left-sidebar {
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.09);
}
.right-sidebar {
  box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.09);
}
